
<%= render'user_info',user: @user_current,book: @book %>

<!-- ユーザーの投稿一覧の部分 -->

<% @books.each do |book| %>
<div>


  <p>投稿ユーザー画像:<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム:<%= book.user.name %></p>

  <%= link_to book_path(book.id) do %>
  <p>Title:<%= book.title %></p>
  <% end %>
  <p>Opinion:<%= book.body %></p>

</div>

<% end %>