<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <%= render'users/user_info', user: @user,book: @book_new %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user.id) do %>
                <p><%= image_tag @book.user.get_profile_image(100,100) %></p>

                <br>
                <p><%= @book.user.name %></p>
                <% end %>
              </td>
              <td>

                <p>Title : <%= @book.title %></p>

              </td>

              <td>
                <p>Opinion : <%= @book.body %></p>

              </td>

              <td class=<%= "favorite-" + @book.id.to_s %> >
                <%= render "favorites/btn", book: @book %>
              </td>

              <td>
                コメント数:<%= @book.book_comments.count %>
              </td>

              <% if @user.id == current_user.id %>
              <td>


                <span class="btn btn-sm btn-success edit_book_42450" >

                  <%= link_to "Edit", edit_book_path(@book), method: :get %>

                </span>

              </td>

              <td>
                <span class="btn btn-sm btn-danger destroy_book_42450" >

                  <%= link_to "Destroy", "/books/#{@book.id}", method: :delete %>
                </span>

              </td>
              <% end %>

            </tr>


          </tbody>

        </table>
      <div class="book-comments-index">
        <%= render "book_comments/index", book: @book %>
      </div>

        <%= render "book_comments/form", book: @book, book_comment: @book_comment %>

      </div>

    </div>

  </div>
</main>




